body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 0;
    width: 200px; /* Adjusted width to a fixed value */
    background-color: #f1f1f1;
    height: 100vh; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    text-align: center;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align text and icons */
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px; /* Adjust the size of the text */
}

i {
    margin-right: 10px; /* Space between icon and text */
    font-size: 20px; /* Adjust the size of the icon */
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}

li:last-child {
    border-bottom: none;
}

header {
    position: relative;
    text-align: left;
    padding: 20px;
    margin-left: 220px; /* Adjusted to account for the width of the sidebar + some spacing */
}

.header, .content, .section {
    margin-left: 220px; /* Adjusted to account for the width of the sidebar + some spacing */
    padding: 20px;
}

.project {
    position: relative;
    text-align: center;
    margin: 20px;
    display: inline-block;
}

    .project img {
        width: 300px;
        height: 200px;
    }

    .project .overlay {
        position: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px;
    }

    .project .tooltip {
        visibility: hidden;
        width: 200px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -100px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .project:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }

#previous-projects, #current-projects {
    margin-left: 220px; /* Adjusted to account for the width of the sidebar + some spacing */
    padding: 20px;
}
